html,
body {
  margin: 0;
  padding: 0;
}

#webgpu-canvas {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

html,
body {
  margin: 0;
  overflow: hidden;
  background: #1c1c1c;
}

#webgpu-canvas {
  display: block;
}
